spring:
  datasource:
    url: jdbc:mysql://{MYSQL_HOST}:3306/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
      # ElastiCache 사용 시 보통 패스워드가 없지만, 필요시 ${REDIS_PASSWORD} 추가